<%- include("header.ejs") -%>
    <div id="content_history">
        <div class="container">
            <div class="row">
                <div class="title_history white ">
                    <h1 class="text-align">All the Info</h1>
                </div>
                <div class="description_history white">
                    <p class="text-align">I believe that being candid and authentic are key to thriving in today’s virtual world. My blog is a place<br> where celebrating one’s personality, sense of humor, and heart are at the core of my site’s mission. <br> Connecting with
                        the world is what brought me to start </p>
                </div>
                <div class="description_history white ">
                    <p class="text-align">Ever since I launched this project, the blog has been thriving and has quickly gained a loyal following. To see <br> what I’ve been up to, browse my site, learn more about what makes me tick and find out what excites and interests
                        you, as well.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-align">
                    <div class="footer_subscribe">
                        <h2 class="white">Subscribe Form</h2>
                    </div>
                    <div class="footer_subscribe_form">
                        <input type="text" placeholder="e.g.email@example.com" required class="footer_subscribe_form_submit">
                        <button class="btn_footer">JOIN</button>
                    </div>
                    <div class="footer_end">
                        <p class="font_size white">Thanks for subscribing!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="register">
        <div class="modal-js">
            <!-- <div class="modal-container">

            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 flex text-align">
                        <div class="form_register">
                            <div class="register-close">
                                <button class="float-right btn btn-close "></button>
                            </div>
                            <div class="register_title">
                                <h3>REGISTER</h3>
                            </div>
                            <div class="text-align">
                                <form action="/register" method="POST">
                                    <p class="mb8 mr180"><i class="fa-solid fa-user mr5"></i>Username:</p>
                                    <input type="text" name="name" placeholder="name" <% if (typeof name !="undefined" && name) { %> value="
                                    <%= name %>"
                                        <% } %> required>
                                            <p class="mb8 mr180"><i class="fa-solid fa-user mr5"></i>Email:</p>
                                            <!-- email -->
                                            <input type="email" name="email" placeholder="Email" <% if (typeof email !="undefined" && email) { %> value="
                                            <%= email %>"
                                                <% } %> required>
                                                    <p class="mb8 mr180"><i class="fa-solid fa-lock mr5"></i>Password:</p>
                                                    <!-- password -->
                                                    <input type="password" name="password" class="mb20" placeholder="Password" <% if (typeof password !="undefined" && password) { %> value="
                                                    <%= password %>"
                                                        <% } %> required>

                                                            <% if (typeof conflictError != "undefined" && conflictError) { %>
                                                                <div class="text-danger text-left  mb-3">
                                                                    <%= conflictError %>
                                                                </div>
                                                                <% } %>
                                                                    <button class="btn width btn_register">Sign in</button>
                                </form>
                            </div>

                            <div class="white">
                                <a href="" class="btn width google white"><i class="fa-brands fa-google ml-8"></i>Sign in with Google</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            // find: tim the html hoac class hoac ID con
            $("button.js-login").click(function() {
                $("#login").removeClass("hide");
            })
            $("button.btn-close").click(function() {
                $("#login").addClass("hide")
            })
            $("button.js-register").click(function() {
                var check = $("#login").hasClass("hide")
                if (!check) {
                    $("#login").addClass("hide")
                    $("#register").removeClass("hide");

                }
            })
            $("button.btn-close").click(function() {
                $("#register").addClass("hide")
            })
            $("button.js-forgotPassword").click(function() {
                var check = $("#login").hasClass("hide")
                if (!check) {
                    $("#login").addClass("hide")
                    $("#forgot-password").removeClass("hide");
                }
            })
            $("button.btn-close").click(function() {
                $("#forgot-password").addClass("hide")
            })
        })
    </script>
    <%- include("footer.ejs") -%>